asgiref==3.7.2
awswrangler==3.2.0
boto3==1.26.153
botocore==1.29.153
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.2
django-environ==0.10.0
fsspec==2023.6.0
greenlet==2.0.2
idna==3.4
jmespath==1.0.1
numpy==1.24.3
packaging==23.1
pandas==2.0.2
pyarrow==12.0.1
pyathena==3.0.3
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
s3transfer==0.6.1
six==1.16.0
SQLAlchemy==2.0.16
sqlparse==0.4.4
tenacity==8.2.2
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
